.sets {
    padding: 75px 0px;
    gap: 35px;
}

.sets>.box {
    width: 1350px;
    padding: 35px 0px;
    position: relative;
    gap: 55px;

    h3 {
        font-size: 55px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
    }

    .all {
        width: 100%;
        align-items: flex-end;
        gap: 35px;

        .detal {
            width: 33%;
            gap: 35px;
            
            img {
                width: 100%;
            }

            p {
                font-weight: 550;
                font-size: 25px;
            }
        }
    }
}